@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.woff2");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Bold.woff2");
    font-weight: 700;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1.625;
    background: #EEEFF1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.nav_list {
    margin: 0;
    padding: 0;
}

.nav_item {
    display: inline-block;
    margin-right: 42px;
}

.nav_item:last-child {
    margin-right: 0;
}

.nav_link {
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.nav_link--active {
    color: #34547A;
    font-weight: 500;
}

.nav_link:hover,
.nav_link:focus {
    color: #34547A;
    text-decoration: underline;
    outline: none;
}

.header {
    margin-top: 79px;
    margin-bottom: 151px;
}

.container {
    padding-left: calc(50vw - 555px);
    padding-right: calc(50vw - 555px);
}

.offer {
    padding-top: 100px;
    padding-bottom: 100px;
}

.offer_title {
    margin: 0 0 60px;
    font-family: Roboto, sans-serif;
    font-size: 48px;
    line-height: 1.645;
}

.offer_desk {
    width: 540px;
    color: #727272;
    margin: 0 0 65px;
}

.button {
    min-width: 265px;
    text-align: center;
    padding: 20px 41px;
    box-sizing: border-box;
    background: #34547A;
    color: #FFFFFF;
    letter-spacing: 0.1em;
    border: none;
    text-decoration: none;
    line-height: 1.625;
}

.button:hover,
.button:focus {
    opacity: 0.7;
    cursor: pointer;
}

.button:active {
    opacity: 0.3;
}

.button:disabled {
    cursor: not-allowed;
    background: gray;
}

.offer .button {
    margin-bottom: 140px;
}

.about {
    padding-top: 112px;
    padding-bottom: 100px;
    text-align: center;
    background: #FFFFFF;
}

.about_title {
    margin: 0 0 50px;
    font-family: Roboto, sans-serif;
    font-size: 32px;
    line-height: 1.172;
}

.about_desk {
    width: 540px;
    color: #727272;
    margin-right: auto;
    margin-left: auto;
}

.projects {
    background: #34547A;
    color: #FFFFFF;
    padding-top: 100px;
    padding-bottom: 100px;
}

.projects_item {
    position: relative;
    padding-left: 70px;
    display: inline-block;
    margin-right: 45px;
}

.projects_icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.projects_number {
    margin: 0;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.19;
}

.project_name {
    margin: 0;
}

.another_color {
    background: #EEEFF1;
}

.video {
    margin-top: 57px;
}

.footer {
    padding-top: 100px;
}

.owner {
    background: #34547A;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 50px;
}

.john {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 21px;
    line-height: 1.19;
}

.copyright {
    line-height: 1.640;
    margin: 0;
}